<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.brandeis.cs.housingapplication">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application

        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/help_logo"
        android:roundIcon="@drawable/help_logo"
        android:logo="@drawable/help_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SearchFragmentTabs"
            android:windowSoftInputMode="adjustNothing"/>


        <activity android:name=".PostHouseActivity"></activity>

        <activity android:name=".DisplayHouseActivity"></activity>

        <activity android:name=".RateHouseActivity"></activity>

        <activity android:name=".HomeActivity"></activity>
    </application>

</manifest>